* {
  font-family:"Montserrat", sans-serif;
}

body {
  margin: 0 auto;
}

main {
  width: 100%;
  height: 565px;
  background-image: url(../assets/images/hero.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: 100px;
}

main nav img {
  display: inline-block;
}

main nav ul {
  display: inline-block;
  text-decoration: none;
  margin-left: 700px;

  }

main nav li {
  display: inline-block;
  font-size: 18px;
  margin-left: 35px;

}

main nav a {
  text-decoration: none;
  color: white;
}

.lyft-blanco {
  height: 42px;
}


















































/* Videos box style */
article.video-content {
  display: flex;
  height: 485px;
}

article .video-text {
  margin: 0;
  padding: 5px 45px;
  width: 33.4%;
}

article .video-text h5 {
  margin-bottom: 0;
}

article .video-text h3 {
  font-size: 30px;
  font-weight: 600;
  margin-top: 0;
}

article .video-box {
  width: 66.5%;
}

.video-content iframe {
  height: 485px;
  width: 856px;
}
